<div class="container">
    <div class="two alt-two">
        <h1>Menu đặt tiệc
            <span>Hải sản Cô Năm Sài gòn</span>
        </h1>
    </div>


    <div class="row mt-5">
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 max-height">
                <img width="100%" src="/img/menu/menu1.png" alt="">     
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 max-height">
                <img width="100%" src="/img/menu/menu2.png" alt="">     
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 max-height">
                <img width="100%" src="/img/menu/menu3.png" alt="">     
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 max-height">
                <img width="100%" src="/img/menu/menu4.png" alt="">     
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 max-height">
                <img width="100%" src="/img/menu/menu5.png" alt="">     
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 max-height">
                <img width="100%" src="/img/menu/menu6.png" alt="">     
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 max-height">
                <img width="100%" src="/img/menu/menu7.png" alt="">     
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 max-height">
                <img width="100%" src="/img/menu/menu8.png" alt="">     
        </div>
        
    </div>
</div>