/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


@media (min-height: 540px) and (max-height: 668px) {
    .seafood-box-2 {
        height: 43vh;
    }

    .two {
        margin-top: 20px
    }

    .cart {
        margin-bottom: 10em !important;
    }

    footer {
        height: 200%;
        font-size: 12px;
    }

    .footer-img {
        left: 190px !important;
        bottom: -78px !important;
    }

    .footer-img img {
        width: 80% !important;
    }

    .connect-box {
        bottom: -18% !important;
    }



    #googleMap,
    .mapouter,
    .gmap_canvas {
        height: 250px !important;
    }

    .text-center .fb-page span iframe,
    .text-center .fb-page span {
        height: 180px !important;
    }

    /* Product card */
    .seafood-price,
    .seafood-contact {
        font-size: 9px !important;
    }

    .seafood-box {
        width: 33.333% !important;
        height: 32vh !important;
    }

    .seafood-title {
        font-size: 12px !important;
    }

    h1 {
        font-size: 26px !important;
    }

    .two h1 span {
        font-size: 10px !important;
        padding-bottom: 0 !important;
    }

    /* Header */
    .header-body--content {
        height: 90px !important;
    }

    /* Owl carosel */
    #list-album1,
    #list-album {
        margin-top: 0 !important;
    }

    .owl-carousel {
        padding: 0px 20px !important;
    }

    #list-menu {
        margin-top: 0 !important;
    }

}