@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700;);

:root {
  --xanh: #47B5FF !important;
  --do: #EB4747 !important;
}

li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}
   
a:hover {
    text-decoration: none;
    color: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background-color: #0f9ed8;
}


/* Header: start */
#page-header {
    position: absolute;
    width: 100%;
    color: #000;
    margin-bottom: 20px;
    z-index: 999;
    background-color: #fff;
}

.header-top {
    height: 40px;

    background-color: #e5e6e7;
}

.header-top--content {
    display: flex;
    justify-content: space-between;
}

.header-hotline {
    font-size: 14px;
    line-height: 40px;
}

.header-list {
    line-height: 40px;
}

.header-list-item {
    font-size: 14px;
    margin: 0 3px;
    padding: 0 4px;
}

.header-list-item:hover {
    color: #0f9ed8;
    cursor: pointer;
}

.header-body {}

.header-body--content {
    display: flex;
    width: 100%;
    /* box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 30%); */
    height: 100px;
    border-bottom: 2px solid #0f9ed8;
}

#album .item {
  padding: 0 10px;
}

.food-name h4 {
  line-height: 42px;
}

.header-logo img {
    width: 80%;
}

.header-body-list,
.header-search {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
}

.header-right-corner {
    position: absolute;
    right: 0;
    padding: 10px 20px;
}

.header-search {
    width: 448px;
    height: 56px;
    border: 2px solid #000;
    border-radius: 4px;
    
}

.header-search input {
    width: 75%;
    padding: 14px;
    margin: 0;
    border: 0;
}

.header-search input:focus {
    outline: none !important;
}

.header-search button {
    width: 23%;
    line-height: 46px;
    margin: 0;
    border: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 1px;
}

.header-navbar {
    
    
}


/* Header: end */

/* Banner: Start */

.banner-full-size {
    width: 100%;
    height: auto;
    
}


.banner-full-size img {
    height: 75vh;
    margin-top: 100px;
}
/* Banner: End */


/* Navbar: Start */
  
  .navbar-list {
    display: flex;
    justify-content: left;
    margin-bottom: 0;
    
  }

  .header-navbar .container {
    background-color: #0f9ed8;
    /* border: 3px solid #0f9ed8; */
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 4rem;
    /* margin: 0px !important; */
    width: 70%;
    position: absolute;
    bottom: 0;
    right: 0;
    
  }

  .header-navbar .container .navbar-list .navbar-item a {
    color: white
  }
  
  
  .navbar-item {
    line-height: 40px;
    padding:3px 15px;
    position: relative;
  }
  
  .navbar-item:hover {
    background-color: var(--do);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    cursor: pointer;
  }
  
  .navbar-item a {
    /* line-height: 50px; */
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
  }

  
  
  .navbar-list>.navbar-item>a:hover {
    color: yellow !important;
  }
  
  .navbar-item i {
    font-size: 12px;
  }
  
  
  .navbar-item .navbar-menu {
    position: absolute;
    background-color: #6365ec;
    top: 100%;
    left: 0;
    min-width: 100%;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
  }
  
  .navbar-list .navbar-item:nth-child(3) .navbar-menu {
    width: 230px !important;
  }
  
  .navbar-product-item,
  .navbar-list .navbar-item:nth-child(3) .navbar-menu .navbar-menu-item {
    display: flex;
    justify-content: space-between;
  
  }
  
  .navbar-product-item i,
  .navbar-list .navbar-item:nth-child(3) .navbar-menu .navbar-menu-item i {
    font-size: 16px;
    /* line-height: 40px; */
    margin: 0 12px;
  }
  
  .navbar-item:hover>.navbar-menu {
    visibility: visible;
    opacity: 1;
  }
  
  .navbar-menu::before {
    content: '';
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 10px;
    top: -5px;
  }
  
  .navbar-menu-item {
    border: 1px solid rgba(0, 0, 0, 0.025);
    position: relative;
  }
  
  .navbar-menu-item a {
    color: #000;
    
    display: block;
    width: 100%;
  }
  
  .navbar-product-item:hover,
  .navbar-menu-item:hover a {
    color: yellow !important;
  }
  
  .navbar-product-list {
    position: absolute;
    background-color: #e6e7e8;
    top: 0;
    left: 100%;
    width: 100%;
    display: none;
  }
  
  .navbar-menu-item:hover .navbar-product-list {
    display: block;
  }
  
  .navbar-product-list::after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: -5px;
    background-color: transparent;
    width: 10px;
  }
  
  .navbar-product-item {
    border: 1px solid rgba(0, 0, 0, 0.025);
    position: relative;
  }
/* Navbar: ENd  */


/* slider-site Start */
body,
html {
  height: 100%;
}

body.slider__body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.slider__container {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
}

.slider__page {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider__indicators {
  position: fixed;
  left: 18px;
  top: 50%;
  z-index: 2;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider__indicator {
  display: none;
  width: 10px;
  height: 10px;
  margin: 10px 0;
  border-radius: 100px;
  background-color: #fff;
  cursor: default;
}
.slider__indicator--active {
  opacity: 0.3;
}

/* slider-site End */

/* tool Start */

.box-mid {
    position: absolute;
    z-index: 10000;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
    color: black;
}

#bestseller {
  background: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#seafood {
  background: url('../img/background2.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: top;
}

.titleL {
  width: 50% !important;
    height: 70px;
    margin-top: 140px;
    color: #080a6d;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px dashed #d7d7d7;
 transform: translateX(50%);
    /* border: 2px solid black; */
}

.icon {
  content: '';
    width: 120px;
    height: 85px;
    background: url('https://giangghe.com/images/giotnuoc.png');
    position: absolute;
    right: -35px;
    bottom: -45px;
    z-index: 200;
}
.head-title {
  position: relative;
  align-items: center;
  
}

.head-title p{
  color: #333333;
    font-size: 14px;
    letter-spacing: 4px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.food-name {
    position: fixed;
    display: block;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,255, 0.5);
    text-align: center;
    z-index: 12000;
    bottom: 0px;
    padding: 12px 0;
    color: white;
    text-transform: uppercase;
}

img , .smooth{
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* tool End */


/* Seafood Start */
.seafood-box {
  display: inline-block;
  position: relative;
  width: 32% !important;
  height: 35vh; 
  margin-bottom: 20px;
  padding: 0 20px;
}

.seafood-img-box {
  width: 100%;
  height: 60%;
  /* position: absolute; */
  z-index: 2;
  overflow: hidden;
  /* border-radius: 20px 0 20px 0; */
  /* border: 2px solid black; */
}

.news-img-box {
  width: 100%;
  height: 50%;
  /* position: absolute; */
  z-index: 2;
  overflow: hidden;
}

.seafood-img-box img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

.news-box:hover img, .seafood-box:hover img {
  transform: scale(1.07);
}

.seafood-content-box {
  width: 100%;
  height: 40%;
  padding: 10px 0 10px;
  overflow: hidden;
  position: relative;
  text-align: left;
}

.news-content-box {
  width: 100%;
  height: 20vh;
  padding: 10px 0 10px;
  overflow: hidden;
  position: relative;
  text-align: left;
}

.seafood-content-box a.seafood-title {
  font-size: 18px;
  color: black;
  font-weight: 600;
  
}

.seafood-contact {
  font-weight: 600;
}
.seafood-price {
  font-weight: 600;
  margin: 5px 0;
}

.seafood-buy {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
  border: 2px solid var(--xanh);
  /* background-color: var(--xanh); */
  border-radius: 5rem 0 5rem 0;
  height: 30px;
  
  text-align: center;
}

.seafood-buy a {
  color: var(--xanh);
  font-weight: 600;
}

.seafood-buy:hover {
  /* background-color: var(--xanh); */
  border-radius:0 5rem 0 5rem ;
  border: 2px solid var(--do);
}

.seafood-buy:hover a {
  color: var(--do);
}

.seafood-right-banner {
  width: 23.5%;
    float: right;
    height: 100%;
}
/* Seafood End */

/* Pagination Start */

.pagination {
  margin: 0 !important;
}

.pagination-list li {
  border: 1px solid #e1e1e1;
  display: inline-block;
  margin: 1px;
  border-radius: 2px;
}

.pagination-list li.disabled,
.pagination-list li.active {
  background: #f5f5f5;
}

.pagination-list li.disabled a,
.pagination-list li.active a {
  color: #555 !important;
}

.pagination-list li a {
  padding: 5px 10px;
  color: var(--xanh);
  display: inline-block;
}

.pagination-list li a:hover {
  background: rgb(240, 232, 122);
  color: black;
}

.current {
  /* background-color: var(--do); */
}

.current a.sidebar-item-link {
  color: white !important;
}

.pagination-list li.current {
  background: #0f9ed8;
}

/* Pagination End */

.filter-menu {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  border: 2px solid black;
}

.news-title {
  color: #333333;
  font-size: 0.9em;
  font-weight: 600;
    display: block;
    
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.is-divider {
  height: 3px;
  display: block;
  background-color: rgba(0,0,255,.1);
  margin: 1em 0 1em;
  width: 100%;
  max-width: 30px;
}

a.watch-detail {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  font-size: 15px;
  /* margin-right: 10px; */
  color: rgb(121, 70, 70);
  
}

.owl-carousel {
  padding: 18px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}