<header id="page-header">
    {{!-- <div class="header-top">
        <div class="container">
            <div class="header-top--content">
                <span class="header-hotline">
                    <i class="fas fa-phone"></i>
                    Hotline: 0908 77 00 95
                </span>
                <ul class="header-list">
                    <li class="header-list-item">
                        <i class="fas fa-edit"></i>
                        Kiểm tra đơn hàng
                    </li>
                    <li class="header-list-item">
                        <i class="fas fa-shopping-cart"></i>
                        Giỏ hàng
                    </li>
                    <li class="header-list-item">
                        <i class="fas fa-edit"></i>
                        Đăng xuất
                    </li>
                    <li class="header-list-item">
                        <i class="fas fa-key"></i>
                        Đăng ký
                    </li>
                </ul>
            </div>

        </div>
    </div> --}}
    <div class="header-body">
        
            <div class="header-body--content">
                <div class="header-logo">
                    <img src="http://runecom04.runtime.vn/Uploads/shop2005/images/logo.png" alt="">
                </div>
                    <div class="header-right-corner">
                        <span class="header-hotline">
                        <i class="fas fa-phone"></i>
                        Hotline: 0908 77 00 95
                    </span>
                        {{!-- <div class="header-search">
                        <form class="search-form" action="">
                            <input placeholder="Nhập từ khóa tìm kiếm" type="text">
                            <button type="submit">Tìm ngay</button>
                        </form>
                    </div> --}}
                    <ul class="header-body-list">
                        <li class="header-body-item px-2">
                            <i class="fas fa-user"></i>
                            Tài khoản
                        </li>
                        <li class="header-body-item px-2">
                            <i class="fas fa-shopping-cart"></i>
                            Giỏ hàng
                        </li>
                    </ul>
                </div>
                <nav class="header-navbar">
                    <div class="container">
        <ul class="navbar-list">
            <li id="home" onclick='window.location.href="/home"' class="navbar-item current smooth"><a href="/home">Trang chủ</a></li>
            <li id="contact" class="navbar-item">

                <a href="/contact">Menu đặt tiệc</a>
            </li>
            
            <li id="collections" class="navbar-item">
                <a href="/collections/Lop-Advance-Samson-1">Menu món ăn <i class="fas fa-angle-down"></i></a>
                <ul class="navbar-menu">
                    <li class="navbar-menu-item smooth">
                        <a href="/collections/Lop-Advance-Samson-1">Các môn hải sản</a>
                        
                    </li>
                    <li class="navbar-menu-item smooth">
                        <a href="/collections/Xe-tai-dau-keo-xe-ben-2">Khai vị</a>
                        
                    </li>
                    <li class="navbar-menu-item smooth">
                        <a href="/collections/Phu-tung-o-to-3">Đồ uống</a>
                        
                    </li>
                    
                </ul>
            </li>
            <li id="news" class="navbar-item"><a href="/news">Hải sản sống</a></li>
            <li id="policy" class="navbar-item">
                <a href="/policy">Chính sách <i class="fas fa-angle-down"></i></a>
                <ul class="navbar-menu" style="width: 280px">
                    <li class="navbar-menu-item smooth">
                        <a href="">Chính sách giao hàng</a>
                    </li>
                    <li class="navbar-menu-item smooth">
                        <a href="">Chính sách đại lý</a>
                    </li>
                    <li class="navbar-menu-item smooth">
                        <a href="">Chính sách cộng tác viên</a>
                    </li>
                    <li class="navbar-menu-item smooth">
                        <a href="">Chính sách bảo hành</a>
                    </li>
                </ul>
            </li>
            <li id="discount" class="navbar-item">
                <a href="/discount">Khuyến mãi</a>
            </li>
            
            <li id="service" class="navbar-item"><a href="/service">Dịch vụ</a></li>
            
        </ul>
    </div>
                </nav>
            </div>
        
    </div>
    
</header>