<header id="page-header" class="sticky">

    <div class="header-body">

        <div class="header-body--content">
            <div class="header-logo">
                <button id="navBtn1" class=" navbar-btn">
                    <i class="fas fa-list"></i>
                </button>
                <ul id="left-sidebar" class="header-sidebar">
                    <li class="sidebar-item item-first">
                        <button id="close-btn1" class="navbar-btn">
                            <i class="fas fa-times"></i>
                        </button>
                    </li>
                    <li class="sidebar-item">
                        <a href="/users/login">Tải khoản</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/shopping-cart">Giỏ hàng</a>
                    </li>
                </ul>
                <img src="/img/logo.png" alt="">
                <button id="navBtn2" class=" navbar-btn">
                    <i class="fas fa-list"></i>
                </button>
                <ul id="right-sidebar" class="header-sidebar">
                    <li class="sidebar-item item-first">
                        <button id="close-btn2" class="navbar-btn">
                            <i class="fas fa-times"></i>
                        </button>
                    </li>
                    <li class="sidebar-item">
                        <a href="/">Trang Chủ</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/">Giới thiệu</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/menu-party">Menu đặt tiệc</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/menu-food">Menu món ăn</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/menu-drinks">Menu đồ uống</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/collections/seafood">Hải sản tươi sống</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/contact">Liên hệ</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/discount">Khuyến mãi</a>
                    </li>
                </ul>

            </div>
            <div class="header-right-corner">
                <span class="header-hotline">
                    <span style="color: crimson"><i class="fas fa-phone"></i> Hotline: 0931 744 468</span>
                </span>

                <ul class="header-body-list">
                    <li style="cursor: pointer;" onclick='window.location.href="/users/login"'
                        class="header-body-item px-2">
                        <i class="fas fa-user"></i>
                        Tài khoản
                    </li>
                    <li style="cursor: pointer;" onclick='window.location.href="/shopping-cart"'
                        class="header-body-item px-2">
                        <i class="fas fa-shopping-cart"></i>
                        Giỏ hàng
                    </li>
                </ul>
            </div>
            <nav class="header-navbar">
                <div class="container">
                    <ul class="navbar-list">
                        <li id="home" onclick='window.location.href="/"' class="navbar-item current smooth"><a
                                href="/">Trang chủ <i class="fas fa-angle-down"></i></a>
                            <ul class="navbar-menu">
                                <li class="navbar-menu-item smooth">
                                    <a href="">Giới thiệu</a>

                                </li>


                            </ul>
                        </li>
                        <li id="contact" class="navbar-item">

                            <a href="/menu-party">Menu đặt tiệc</a>
                        </li>

                        <li id="collections" class="navbar-item">
                            <a href="/menu-food">Menu <i class="fas fa-angle-down"></i></a>
                            <ul class="navbar-menu">
                                <li class="navbar-menu-item smooth">
                                    <a href="/menu-food">Menu món ăn</a>

                                </li>
                                <li class="navbar-menu-item smooth">
                                    <a href="/menu-drinks">Menu đồ uống</a>

                                </li>

                            </ul>
                        </li>
                        <li id="" class="navbar-item">
                            <a href="/collections/seafood">Hải sản sống</a>
                        </li>


                        <li id="contact" class="navbar-item">
                            <a href="/contact">Liên hệ</a>
                        </li>
                        <li id="contact" class="navbar-item">
                            <a href="/discount">Khuyến mãi</a>
                        </li>

                        {{!-- <li id="service" class="navbar-item"><a href="/service">Dịch vụ</a></li> --}}

                    </ul>
                </div>
            </nav>
        </div>

    </div>

</header>