<div class="container">
    <div class="row product-detail-main">
		<div class="width-80 col-md-10 col-sm-8">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="product-gallery">
					<div class="product-image-detail scroll">
						<div class="col-sm-12 col-md-12">
							<div data-toggle="modal" data-target=".bd-example-modal-lg" class="slider-for">
								
								
								
								<div class="product1">
									<img data-id="0" src="/img/background.png" height="450vh" width="100%">
									<div class="barrier d-none"></div>
								</div>
								
								
							</div>

							<div class="slider-nav mt-3">
								
						
								<div class="product2">
									<img src="/img/background.png" height="auto" width="120px">
								</div>
								<div class="product2">
									<img src="/img/background.png" height="auto" width="120px">
								</div>
								<div class="product2">
									<img src="/img/background.png" height="auto" width="120px">
								</div>
						
								
							</div>
						</div>		
					</div>
				</div>
			</div>
		</div>

		<div class="width-20 no-padding col-md-2 col-sm-4 right-menu">

		</div>
	</div>
</div>