<div class="slides">
    {{!-- Banner --}}
      <section id="banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img style="max-height: 100%; margin-top: 100px" class="d-block w-100"
                        src="https://picsum.photos/1920/860" alt="First slide">
                    <div style="background-color: rgba(0, 0, 0, 0.45)" class="carousel-caption d-none d-md-block">
                        <h5>Đào tạo Hội nhập tháng 6/2022 - Khơi nguồn sức mạnh tập thể</h5>
                    </div>

                </div>
                <div class="carousel-item">
                    <img style="max-height: 100%; margin-top: 100px" class="d-block w-100"
                        src="https://picsum.photos/1920/860" alt="Second slide">
                    <div style="background-color: rgba(0, 0, 0, 0.45)" class="carousel-caption d-none d-md-block">
                        <h5>Quan niệm “Mua xe thì dễ, nuôi xe mới khó” có còn đúng?</h5>
                    </div>

                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
      </section>

    {{!-- Best Seller --}}
      <section id="bestseller">  
        <div class="box-mid">
            <div class="container">
                <div class="text-center head-title">
                    <h1 class="titleL">
                    Best Seller
                    <div class="icon"></div>
                </h1>
                <p>Hải sản tươi bắt tại hồ</p>
                </div>
                
                <div class="container">
                    <div class="owl-carousel owl-theme mt-md-2">
                    <div class="item bestseller-box"><img src="https://giangghe.com/thumb/400x0/3/upload/hinhanh/894066370193185.jpg" alt="">
                    <div class="food-name">
                        <h4>Ốc móng chúa</h4>
                    </div>
                    </div>
                    <div class="item bestseller-box"><div class="food-name">
                        <h4>Ốc Hương lớn</h4>
                    </div><img src="https://giangghe.com/thumb/400x0/3/upload/hinhanh/923588828280725.jpg" alt=""></div>
                    <div class="item bestseller-box"><div class="food-name">
                        <h4>Sò huyết cồ</h4>
                    </div><img src="https://giangghe.com/thumb/400x0/3/upload/hinhanh/9186922330987240.jpg" alt=""></div>
                    
                </div>
                </div>
            </div>
        </div>
      </section>

    {{!-- Seafood --}}
      <section id="seafood">
        <div class="box-mid">
            <div class="container">
                <div  class="text-center head-title">
                    
                    <h1 style="margin-top: 120px;" class="titleL">
                        Hải sản tươi sống
                        <div class="icon"></div>
                    </h1>
                    <p>Hải sản tươi bắt tại hồ</p>
                </div>

                <div class="row">
                    <div class="col-md-9 mt-2">
                        <div class="col-md-3 seafood-box">
                            <div class="seafood-img-box">
                                <img src="/img/seafood/seafood1.png" alt="">
                            </div>

                            <div class="seafood-content-box">
                                <a href="" class="seafood-title">Sò Diệp nướng mở hành</a>

                                <div class="seafood-price">
                                    Giá: 1.900.000 VND
                                </div>

                                <div class="seafood-contact">
                                    Liên hệ: 
                                     0905381348 
                                    
                                </div>
                                
                                <div class="seafood-buy smooth">
                                    <a href="">Mua hàng</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 seafood-box">
                            <div class="seafood-img-box">
                                <img src="/img/seafood/seafood2.png" alt="">
                            </div>

                            <div class="seafood-content-box">
                                <a href="" class="seafood-title">Sò Diệp nướng mở hành</a>

                                <div class="seafood-price">
                                    Giá: 1.900.000 VND
                                </div>

                                <div class="seafood-contact">
                                    Liên hệ: 
                                     0905381348 
                                    
                                </div>
                                
                                <div class="seafood-buy smooth">
                                    <a href="">Mua hàng</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 seafood-box">
                            <div class="seafood-img-box">
                                <img src="/img/seafood/seafood3.png" alt="">
                            </div>

                            <div class="seafood-content-box">
                                <a href="" class="seafood-title">Sò Diệp nướng mở hành</a>

                                <div class="seafood-price">
                                    Giá: 1.900.000 VND
                                </div>

                                <div class="seafood-contact">
                                    Liên hệ: 
                                     0905381348 
                                    
                                </div>
                                
                                <div class="seafood-buy smooth">
                                    <a href="">Mua hàng</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 seafood-box">
                            <div class="seafood-img-box">
                                <img src="/img/seafood/seafood4.png" alt="">
                            </div>

                            <div class="seafood-content-box">
                                <a href="" class="seafood-title">Sò Diệp nướng mở hành</a>

                                <div class="seafood-price">
                                    Giá: 1.900.000 VND
                                </div>

                                <div class="seafood-contact">
                                    Liên hệ: 
                                     0905381348 
                                    
                                </div>
                                
                                <div class="seafood-buy smooth">
                                    <a href="">Mua hàng</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 seafood-box">
                            <div class="seafood-img-box">
                                <img src="/img/seafood/seafood5.png" alt="">
                            </div>

                            <div class="seafood-content-box">
                                <a href="" class="seafood-title">Sò Diệp nướng mở hành</a>

                                <div class="seafood-price">
                                    Giá: 1.900.000 VND
                                </div>

                                <div class="seafood-contact">
                                    Liên hệ: 
                                     0905381348 
                                    
                                </div>
                                
                                <div class="seafood-buy smooth">
                                    <a href="">Mua hàng</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 seafood-box">
                            <div class="seafood-img-box">
                                <img src="/img/seafood/seafood6.png" alt="">
                            </div>

                            <div class="seafood-content-box">
                                <a href="" class="seafood-title">Sò Diệp nướng mở hành</a>

                                <div class="seafood-price">
                                    Giá: 1.900.000 VND
                                </div>

                                <div class="seafood-contact">
                                    Liên hệ: 
                                     0905381348 
                                    
                                </div>
                                
                                <div class="seafood-buy smooth">
                                    <a href="">Mua hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 seafood-right-banner mt-2">
                        <img src="https://giangghe.com/thumb/281x667/1/upload/product/untitled2-4814.jpg" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
      </section>

    {{!-- Menu --}}
      <section id="menu">
        <div class="box-mid">
            <div class="container">
                <div class="text-center head-title">
                    <h1 class="titleL">
                    Thực đơn 
                    <span>món chính</span>
                    <div class="icon"></div>
                </h1>
                <p>Hải sản tươi bắt tại hồ</p>
                </div>

                <div class="text-center filter-menu mt-5">
                    Filter
                </div>
                
                <div class="owl-carousel cs-5 owl-theme mt-5">
                    <div class="item"><img src="https://giangghe.com/thumb/400x0/3/upload/hinhanh/894066370193185.jpg" alt="">
                    
                    </div>
                    <div class="item">
                        
                        <img src="https://giangghe.com/thumb/400x0/3/upload/hinhanh/923588828280725.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="https://giangghe.com/thumb/400x0/3/upload/hinhanh/9186922330987240.jpg" alt="">
                    </div>
                    
                    
                </div>
                <div class="text-center w-100 d-flex justify-content-center mt-4">
	
                <div class="pagination">
                    <ul class="pagination-list">
                            
                        <li class="prevPage" style="visibility: hidden;"><a title="Trang trước" href="" class="pagenav"><i class="fa fa-chevron-left"></i></a></li>
                        
                        <li class="hidden-phone current"><a title="1" href="/collections/Lop-Advance-Samson-1?view=home&page=1" class="pagenav">1</a></li>
                        
                        
                        
                        <li class="hidden-phone"><a title="2" href="/collections/Lop-Advance-Samson-1?view=home&page=2" class="pagenav">2</a></li>
                        
                        
                        
                        <li class="hidden-phone"><a title="3" href="/collections/Lop-Advance-Samson-1?view=home&page=3" class="pagenav">3</a></li>
                        
                        
                        
                        <li class="hidden-phone "><a title="4" href="/collections/Lop-Advance-Samson-1?view=home&page=4" class="pagenav">4</a></li>
                        
                    
                        
                        
                        <li class="nextPage"><a title="Trang sau" href="" class="pagenav"><i class="fa fa-chevron-right"></i></a></li>
                        
                    </ul>
                    <input type="hidden" name="limitstart" value="0">
                </div>
                
            </div>
            </div>
        </div>
      </section>

    {{!-- Album --}}
      <section id="album">
        <div class="box-mid">
            <div class="container">
                <div class="text-center head-title">
                    <h1 class="titleL">
                    Album
                    <div class="icon"></div>
                </h1>
                <p>Hải sản tươi bắt tại hồ</p>
                </div>
                
                <div class="owl-carousel owl-theme mt-4">
                    <div class="item"><img src="/img/album/img4.png" alt="">
                    
                    </div>
                    <div class="item">
                        
                        <img src="/img/album/img5.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/img/album/img6.png" alt="">
                    </div>
                    
                    
                </div>

                <div class="owl-carousel cs-5 owl-theme mt-4">
                    <div class="item"><img src="/img/album/img1.png" alt="">
                    
                    </div>
                    <div class="item">
                        
                        <img src="/img/album/img2.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/img/album/img3.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/img/album/img7.png" alt="">
                    </div>
                    
                    
                </div>
                
            </div>
        </div>
      </section>

    {{!-- News --}}
    <section id="news">
        <div class="box-mid">
            <div class="container">
                <div class="text-center head-title">
                    <h1 class="titleL">
                    Tin tức - Sự kiện
                    <div class="icon"></div>
                </h1>
                <p>Hải sản tươi bắt tại hồ</p>
                </div>
                
                <div class="owl-carousel owl-theme mt-5">
                    <div class="item news-box">
                        <div class="news-img-box">
                            <img src="/img/news/news1.png" alt="">
                        </div>

                        <div class="news-content-box">
                            <div class="news-title-box">
                                <a class="news-title" href="" alt="">Thực phẩm cao cấp bồi dưỡng sức khoẻ đang có giá cực tốt, tặng đến 500K cho Khách hàng</a>
                            </div>
                            <div class="is-divider"></div>
                            <p>Chương trình ưu đãi tặng đến 500,000đ mỗi đơn hàng Tiếp nối chương trình ưu[...]</p>
                            <a href="" class="watch-detail px-3 py-2">Xem thêm</a>

                        </div>
                    </div>
                    <div class="item news-box">
                        <div class="news-img-box">
                            <img src="/img/news/news2.png" alt="">
                        </div>

                        <div class="news-content-box">
                            <div class="news-title-box">
                                <a class="news-title" href="" alt="">Sashimi Bạch tuộc Nhật I-Wadako</a>
                            </div>
                            <div class="is-divider"></div>
                            <p>Chương trình ưu đãi tặng đến 500,000đ mỗi đơn hàng Tiếp nối chương trình ưu[...]</p>
                            <a href="" class="watch-detail px-3 py-2">Xem thêm</a>

                        </div>
                    </div>
                    <div class="item news-box">
                        <div class="news-img-box">
                            <img src="/img/news/news3.png" alt="">
                        </div>

                        <div  class="news-content-box">
                            <div class="news-title-box">
                            <a class="news-title" href="" alt="">Ưu đãi 102 – Chân cua Hoàng Đế Alaska gía chỉ còn 1,790,000đ (Áp dụng từ 26/03 – 28/03/2022)</a>

                            </div>
                            <div class="is-divider"></div>
                            <p>Chương trình ưu đãi tặng đến 500,000đ mỗi đơn hàng Tiếp nối chương trình ưu[...]</p>
                            <a href="" class="watch-detail px-3 py-2">Xem thêm</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    

    </div>

    <script>
      var mySlider = slider('.slides');
    </script>