<div class="slides">
    {{!-- Banner --}}
      <section id="banner">
        <video width="100%" autoplay muted loop id="myVideo">
            <source src="/img/banner2.mp4" type="video/mp4">
        </video>
      </section>

    {{!-- Best Seller --}}
      <section id="bestseller">  
        <div class="box-mid">
            <div class="container">
                <div class="two alt-two">
                    <h1 style="color: #EB1D36">Best seller
                        <span>Hải sản Cô Năm Sài gòn</span>
                    <div class="icon"></div>
                    </h1>
                </div>
                
                <div class="container">
                    <div class="owl-carousel owl-theme mt-md-1">
                    <div class="item bestseller-box"><img src="/img/menu/menu1.png" alt="">
                    {{!-- <div class="food-name">
                        <h4>Ốc móng chúa</h4>
                    </div> --}}
                    </div>
                    <div class="item bestseller-box"><img src="/img/menu/menu2.png" alt=""></div>
                    <div class="item bestseller-box"><img src="/img/menu/menu3.png" alt=""></div>
                    
                </div>
                </div>
            </div>
        </div>
      </section>

    {{!-- Seafood --}}
      <section id="seafood">
        <div class="box-mid">
            <div class="container">
                <div class="two alt-two">
                    <h1 style="color: #40DFEF">Hải sản tươi sống
                        <span>Hải sản Cô Năm Sài gòn</span>
                    <div class="icon"></div>
                    </h1>
                </div>

                <div class="row">
                    <div class="col-md-9 mt-2">
                        <div class="col-md-3 seafood-box">
                            <div class="seafood-img-box">
                                <img src="/img/seafood/seafood1.png" alt="">
                            </div>

                            <div class="seafood-content-box">
                                <a href="" class="seafood-title">Tôm Sú Biển</a>

                                <div class="seafood-price">
                                    Giá: 1.900.000 VND
                                </div>

                                <div class="seafood-contact">
                                    Liên hệ: 
                                     0949 515 588 
                                    
                                </div>
                                
                                <div class="seafood-buy smooth">
                                    <a href="">Mua hàng</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 seafood-box">
                            <div class="seafood-img-box">
                                <img src="/img/seafood/seafood2.png" alt="">
                            </div>

                            <div class="seafood-content-box">
                                <a href="" class="seafood-title">Ghẹ Xanh Loại 2</a>

                                <div class="seafood-price">
                                    Giá: 1.900.000 VND
                                </div>

                                <div class="seafood-contact">
                                    Liên hệ: 
                                     0949 515 588 
                                    
                                </div>
                                
                                <div class="seafood-buy smooth">
                                    <a href="">Mua hàng</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 seafood-box">
                            <div class="seafood-img-box">
                                <img src="/img/seafood/seafood3.png" alt="">
                            </div>

                            <div class="seafood-content-box">
                                <a href="" class="seafood-title">Bào Ngư Úc</a>

                                <div class="seafood-price">
                                    Giá: 1.900.000 VND
                                </div>

                                <div class="seafood-contact">
                                    Liên hệ: 
                                     0949 515 588 
                                    
                                </div>
                                
                                <div class="seafood-buy smooth">
                                    <a href="">Mua hàng</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 seafood-box">
                            <div class="seafood-img-box">
                                <img src="/img/seafood/seafood4.png" alt="">
                            </div>

                            <div class="seafood-content-box">
                                <a href="" class="seafood-title">Cua Gạch</a>

                                <div class="seafood-price">
                                    Giá: 1.900.000 VND
                                </div>

                                <div class="seafood-contact">
                                    Liên hệ: 
                                     0949 515 588 
                                    
                                </div>
                                
                                <div class="seafood-buy smooth">
                                    <a href="">Mua hàng</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 seafood-box">
                            <div class="seafood-img-box">
                                <img src="/img/seafood/seafood5.png" alt="">
                            </div>

                            <div class="seafood-content-box">
                                <a href="" class="seafood-title">Cá Chim Trắng</a>

                                <div class="seafood-price">
                                    Giá: 1.900.000 VND
                                </div>

                                <div class="seafood-contact">
                                    Liên hệ: 
                                     0949 515 588 
                                    
                                </div>
                                
                                <div class="seafood-buy smooth">
                                    <a href="">Mua hàng</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 seafood-box">
                            <div class="seafood-img-box">
                                <img src="/img/seafood/seafood6.png" alt="">
                            </div>

                            <div class="seafood-content-box">
                                <a href="" class="seafood-title">Cá Tầm Khủng</a>

                                <div class="seafood-price">
                                    Giá: 1.900.000 VND
                                </div>

                                <div class="seafood-contact">
                                    Liên hệ: 
                                     0949 515 588 
                                    
                                </div>
                                
                                <div class="seafood-buy smooth">
                                    <a href="">Mua hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 seafood-right-banner mt-2">
                        <img width="100%" src="/img/right-banner.png" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
      </section>

    {{!-- Menu --}}
      <section id="menu">
        <div class="box-mid">
            <div class="container">
                <div class="two alt-two">
                    <h1 style="color: #82DBD8">Thực đơn món chính
                        <span>Hải sản Cô Năm Sài gòn</span>
                    <div class="icon"></div>
                    </h1>
                </div>

                {{!-- <div class="text-center filter-menu mt-5">
                    Filter
                </div> --}}
                
                <div class="owl-carousel cs-5 owl-theme mt-5">
                    <div class="item"><img src="/img/menu/menu1.png" alt="">
                    
                    </div>
                    <div class="item">
                        
                        <img src="/img/menu/menu2.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/img/menu/menu3.png" alt="">
                    </div>
                    <div class="item">
                        <img src="/img/menu/menu4.png" alt="">
                    </div>
                    
                    
                    
                </div>
                <div class="text-center w-100 d-flex justify-content-center mt-4">
	
                <div class="pagination">
                    <ul class="pagination-list">
                            
                        <li class="prevPage" style="visibility: hidden;"><a title="Trang trước" href="" class="pagenav"><i class="fa fa-chevron-left"></i></a></li>
                        
                        <li class="hidden-phone current"><a title="1" href="" class="pagenav">1</a></li>
                        
                        
                        
                        <li class="hidden-phone"><a title="2" href="" class="pagenav">2</a></li>
                        
                        
                        
                        <li class="hidden-phone"><a title="3" href="" class="pagenav">3</a></li>
                        
                        
                        
                        <li class="hidden-phone "><a title="4" href="" class="pagenav">4</a></li>
                        
                    
                        
                        
                        <li class="nextPage"><a title="Trang sau" href="" class="pagenav"><i class="fa fa-chevron-right"></i></a></li>
                        
                    </ul>
                    <input type="hidden" name="limitstart" value="0">
                </div>
                
            </div>
            </div>
        </div>
      </section>

    {{!-- Album --}}
      <section id="album">
        <div class="box-mid">
            <div class="container">
                <div class="two alt-two">
                    <h1 style="color: #FFE69A">Album
                        <span>Hải sản Cô Năm Sài gòn</span>
                    <div class="icon"></div>
                    </h1>
                </div>
                
                <div class="album-main-box">
                    <div class="owl-carousel cs-5 owl-theme mt-3">
                        <div class="item"><img src="/img/album/img4.png" alt="">
                        
                        </div>
                        <div class="item">
                            
                            <img src="/img/album/img5.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/album/img6.png" alt="">
                        </div>
                        
                        
                    </div>

                    <div class="owl-carousel cs-5 owl-theme mt-4">
                        <div class="item"><img src="/img/album/img1.png" alt="">
                        
                        </div>
                        <div class="item">
                            
                            <img src="/img/album/img2.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/album/img3.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/album/img7.png" alt="">
                        </div>
                        
                        
                    </div>
                </div>

                
                
            </div>
        </div>
      </section>

    {{!-- News --}}
    <section id="news">
        <div class="box-mid">
            <div class="container">
                <div class="two alt-two">
                    <h1 style="color: #333C83">Tin tức - Sự kiện
                        <span>Hải sản Cô Năm Sài gòn</span>
                    <div class="icon"></div>
                    </h1>
                </div>
                
                <div class="owl-carousel owl-theme mt-5">
                    <div class="item news-box">
                        <div class="news-img-box">
                            <img src="/img/news/news1.png" alt="">
                        </div>

                        <div class="news-content-box">
                            <div class="news-title-box">
                                <a class="news-title" href="" alt="">Thực phẩm cao cấp bồi dưỡng sức khoẻ đang có giá cực tốt, tặng đến 500K cho Khách hàng</a>
                            </div>
                            <div class="is-divider"></div>
                            <p>Chương trình ưu đãi tặng đến 500,000đ mỗi đơn hàng Tiếp nối chương trình ưu[...]</p>
                            <a href="" class="watch-detail px-3 py-2">Xem thêm</a>

                        </div>
                    </div>
                    <div class="item news-box">
                        <div class="news-img-box">
                            <img src="/img/news/news2.png" alt="">
                        </div>

                        <div class="news-content-box">
                            <div class="news-title-box">
                                <a class="news-title" href="" alt="">Sashimi Bạch tuộc Nhật I-Wadako</a>
                            </div>
                            <div class="is-divider"></div>
                            <p>Chương trình ưu đãi tặng đến 500,000đ mỗi đơn hàng Tiếp nối chương trình ưu[...]</p>
                            <a href="" class="watch-detail px-3 py-2">Xem thêm</a>

                        </div>
                    </div>
                    <div class="item news-box">
                        <div class="news-img-box">
                            <img src="/img/news/news3.png" alt="">
                        </div>

                        <div  class="news-content-box">
                            <div class="news-title-box">
                            <a class="news-title" href="" alt="">Ưu đãi 102 – Chân cua Hoàng Đế Alaska gía chỉ còn 1,790,000đ (Áp dụng từ 26/03 – 28/03/2022)</a>

                            </div>
                            <div class="is-divider"></div>
                            <p>Chương trình ưu đãi tặng đến 500,000đ mỗi đơn hàng Tiếp nối chương trình ưu[...]</p>
                            <a href="" class="watch-detail px-3 py-2">Xem thêm</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    

    </div>

    <script>
      var mySlider = slider('.slides');
    </script>