<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://www.tutorialrepublic.com/lib/images/bootstrap-5/bootstrap-card.png" class="card-img-top"
                alt="...">
            
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://www.tutorialrepublic.com/lib/images/bootstrap-5/bootstrap-card.png" class="card-img-top"
                alt="...">
            
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://www.tutorialrepublic.com/lib/images/bootstrap-5/bootstrap-card.png" class="card-img-top"
                alt="...">
            
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://www.tutorialrepublic.com/lib/images/bootstrap-5/bootstrap-card.png" class="card-img-top"
                alt="...">
            
        </div>
    </div>
</div>